

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Playwright output (web app)
/web/test-results/
/web/playwright-report/
/web/blob-report/
/web/playwright/.cache/
/web/playwright/.auth/
